*.jpg
*.png
#Ignore files built by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
*.sbr
*/obj/
Application/obj/
_ReSharper*/
*.pdb
*.exp
*.png
*.map
*.pdb
*.ipdb
*.ilk
*.iobj
*.VC
*.mp3
*.db
*.suo
*.lastBuildState
*.gif*.mp4
*.build
!example.png
/.vs/ParticlePainter/v16/ipch/859d083a6a305c62.ipch
/.vs/ParticlePainter/v16/ipch/AutoPCH/3b071d083056a815/OFXCAMERASAVELOAD.ipch
